body{
    margin:0;
    background-color: rgb(255, 255, 255);
}
img{
    float: left;
    margin-right: 5%;
}
header{
    font-family: sans-serif;
    text-align: center;
    background-color: yellow;
    color: black;
}
.topnav {
    overflow: hidden;
    margin:0;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(219, 219, 5);
    color: black;
}
.topnav a.active {
    background-color: black;
    color: white;
}
h2{
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 0px;
}

h3{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 120px;
    margin-right: 120px;
}



table {
    border-collapse: collapse;
    margin-left: 120px;   
    font-size: 20px;
    }

    tbody tr:nth-child(odd) {
        font-weight: bold;
        font-size: 25px;
        }
        tbody tr:nth-child(even) {
        background-color: #ffffff;
        }

    th, td {
    padding-left: 1em;
    padding-right: 8em;
    padding-top: 0.5em;
    padding-bottom: 0.75em;

    }

    tbody tr:nth-child(odd) {
        background-color: rgb(255, 255, 255);
        }
        tbody tr:nth-child(even) {
        background-color: #ffffff;
        }
