@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: rgb(255, 255, 255);
    line-height: 1.5;
    font-family: Poppins,sans-serif;
}
header{
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
    background-color: yellow;
    color: black;
}
.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border:none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: white;
    text-decoration:none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: grey;
}
.dropdown a:hover{
    background-color: grey;
}


h2{
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 0px;
}

h3{
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 120px;
    margin-right: 120px;
}



table {
    border-collapse: collapse;
    margin-left: 120px;   
    font-size: 20px;
    }

    tbody tr:nth-child(odd) {
        font-weight: bold;
        font-size: 25px;
        }
        tbody tr:nth-child(even) {
        background-color: #ffffff;
        }

    th, td {
    padding-left: 1em;
    padding-right: 8em;
    padding-top: 0.5em;
    padding-bottom: 0.75em;

    }

    tbody tr:nth-child(odd) {
        background-color: rgb(255, 255, 255);
        }
        tbody tr:nth-child(even) {
        background-color: #ffffff;
        }

        .footer{
            padding:  70px;
            background-color: yellow;
        }

.container{
    max-width: 1170px;
    margin:auto;
}
    .row{
    display: flex;
    flex-wrap: wrap;

}
ul{
    list-style:none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}      
.footer-col h4{ 
    font-size: 18px;
    color: #070707;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position:absolute;
    left:0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px
}
.footer-col ul:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    color: #000000;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a :hover{
    color:white;
    padding-left:8px;
}
.footer-col social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(148, 134, 134, 0.2);

margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: white;
transition: all 0.5s ease;
}
.footer-col social-linksa:hover{
    color: black;
    background-color: white;
}
@media(max-width:767px){
.footer-col{
    width: 50%;
    margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}